@import '~antd/dist/antd.css';
body {
  background: #E5E5E5;
  color: #26253D!important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-table-column-sorters ,.ant-table-thead > tr > th{
  font-weight: 800!important;
  font-size: 18px!important;
}
.ant-table-pagination.ant-pagination {
  margin: 1% 5%;
}
.ant-modal-content{
  background: #F8F7F8;
}
.input:focus {
  border-color: transparent;
}
.ant-modal-footer .ant-btn + .ant-btn{
  border: 1px solid #22B2BE;
  background: #22B2BE;
  color: #fff;
}
.ant-btn:hover, .ant-btn:focus, .ant-modal-footer .ant-btn + .ant-btn:hover{
  color: #22B2BE;
  background: transparent;
}